*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background: url('../images/backgroundBuilding.png') center/cover no-repeat fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;

    background: transparent;
    transition: 0.3s ease;

    border-bottom: 1px solid rgba(145, 105, 35, 0.1);
}

/* stanje kada se skroluje */
.header.scrolled {
    background: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(145, 105, 35, 0.2);
}

/* LOGO */
.logo img {
    height: 40px;   /* kontrola veličine */
    width: auto;
    display: block;
}

/* NAV */
.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    color: #F8F8F8;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
    position: relative;
}

.nav a.active {
    color: #916923;
}

.nav a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #916923;
}

.nav a:hover {
    color: #916923;
}

/* BUTTON */
.btn {
    background: #916923;
    color: #111111;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #b8922f;
    transform: translateY(-2px);
}

.btn, .hero-btn {
    letter-spacing: 0.5px;
}

section {
    padding: 140px 60px;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    position: relative;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

/* TAMNI PREKLOP (overlay) */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);
}

/* TEKST NA HERO SEKCIJI */
.hero-content {
    position: relative;
    z-index: 2;

    color: #F8F8F8;
}

.hero-content h1 {
    font-size: 70px;
    letter-spacing: 5px;
    color: #916923;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 30px;
    margin-bottom: 30px;
    color: #ddd;
}

/* HERO BUTTON */
.hero-btn {
    padding: 12px 25px;
    background: #916923;
    color: #111;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 20px;
}

.hero-btn:hover {
    background: #b8922f;
    transform: translateY(-3px);
}

/* SERVICES SECTION */
.services {
    padding: 100px 60px;
    background: #111111;
    color: #F8F8F8;
    text-align: center;
}

.services h2 {
    font-size: 30px;
    margin-bottom: 25px;
    color: #916923;
    letter-spacing: 2px;
}

.services h1 {
    font-size: 40px;
    margin-bottom: 60px;
    color: #916923;
    letter-spacing: 2px;
}

/* GRID */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* CARD */
.service-card {
    background: #1a1a1a;
    padding: 30px;
    border: 1px solid rgba(145, 105, 35, 0.1);
    border-radius: 8px;

    transition: 0.3s;
    cursor: pointer;
}

.service-card:hover {
    transform: translateY(-8px);
    border-color: rgba(145, 105, 35, 0.4);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* TEXT */
.service-card h3 {
    color: #916923;
    margin-bottom: 15px;
    font-size: 18px;
}

.service-card p {
    color: #cccccc;
    font-size: 18px;
    line-height: 1.6;
}


@media (max-width: 992px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .services-grid {
        grid-template-columns: 1fr;
    }

    .services {
        padding: 60px 20px;
    }
}

.why {
    padding: 120px 60px;
    text-align: center;
    color: #fff;

    /* ključna stvar */
    background: rgba(0, 0, 0, 0.6);
}

.why h2 {
    font-size: 30px;
    margin-bottom: 25px;
    color: #916923;
}

.why h1 {
    font-size: 40px;
    margin-bottom: 60px;
    color: #916923;
}

.why p {
    color: #cccccc;
    font-size: 18px;
    line-height: 1.6;
}

.why-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.why-item {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid rgba(145, 105, 35, 0.1);
    transition: 0.3s;
}

.why-item:hover {
    transform: translateY(-8px);
    border-color: rgba(145, 105, 35, 0.4);
}

.why-item h3 {
    color: #916923;
    margin-bottom: 10px;
}

.service-card,
.why-item {
    transition: all 0.3s ease;
}

.service-card:hover,
.why-item:hover {
    transform: translateY(-10px) scale(1.02);
}

@media (max-width: 768px) {
    .why-grid {
        grid-template-columns: 1fr;
    }
}

.contact {
    padding: 100px 60px;
    background: #111111;
    color: #fff;
    text-align: center;
}

.contact h2 {
    font-size: 45px;
    color: #916923;
    margin-bottom: 60px;
}

.contact h3 {
    font-size: 25px;
    color: #916923;
    margin-bottom: 0px;
}

.contact-container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* FORM */
.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    background: #1a1a1a;
    border: 1px solid rgba(212,175,55,0.2);
    color: #fff;
    border-radius: 6px;
    outline: none;
}

.contact-form textarea {
    min-height: 120px;
    resize: none;
}

.contact-form button {
    width: fit-content;
    align-self: center;
    border-radius: 10px;

    padding: 12px 30px;
    background: #916923;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #b8922f;
}

/* INFO */
.contact-info {
    flex: 1;
    text-align: left;
}

.contact-info h3 {
    color: #916923;
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-info {
        text-align: center;
    }
}

.services, .why, .contact {
    position: relative;
}

/* početno stanje */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;

    width: 45px;
    height: 45px;

    background: #916923;
    border: none;
    border-radius: 50%;

    color: #111;
    font-size: 20px;
    cursor: pointer;

    opacity: 0;
    pointer-events: none;

    transition: 0.3s;
}

.to-top.show {
    opacity: 1;
    pointer-events: auto;
}

.contact-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contact-sub {
    color: #bbb;
    font-size: 16px;
    margin-bottom: 10px;
}

/* lista info */
.contact-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* svaki red */
.contact-line {
    display: flex;
    flex-direction: column;
}

/* label (Adresa, Telefon...) */
.contact-line .label {
    color: #916923;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3px;
    letter-spacing: 0.5px;
}

/* vrednost */
.contact-line .value {
    color: #bbb;
    font-size: 15px;
}

.contact-form {
    background: rgba(20, 20, 20, 0.6);
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(145, 105, 35, 0.15);
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    font-family: inherit;
}

.hero-logo {
    width: 550px;
    max-width: 90%;
    height: auto;
    margin-bottom: 20px;
}

/* SUCCESS MODAL */

.success-modal {

    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.75);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 99999;

    opacity: 0;
    pointer-events: none;

    transition: 0.3s ease;
}


.success-modal.active {

    opacity: 1;
    pointer-events: auto;

}


.success-box {

    background: #111;

    width: 400px;
    max-width: 90%;

    padding: 40px;

    border-radius: 12px;

    text-align: center;

    border: 1px solid rgba(145,105,35,0.4);

    box-shadow: 0 20px 50px rgba(0,0,0,0.5);

    transform: translateY(30px);

    transition: 0.3s ease;

}


.success-modal.active .success-box {

    transform: translateY(0);

}


.success-icon {

    width: 60px;
    height: 60px;

    margin: 0 auto 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: #916923;

    color: #111;

    font-size: 35px;

    font-weight: bold;

}


.success-box h3 {

    color: #916923;

    font-size: 28px;

    margin-bottom: 15px;

}


.success-box p {

    color: #ddd;

    line-height: 1.6;

    margin-bottom: 25px;

}


.success-box button {

    padding: 12px 30px;

    background: #916923;

    color: #111;

    border: none;

    border-radius: 5px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;

}


.success-box button:hover {

    transform: translateY(-3px);

}

#send-button:disabled {

    opacity: 0.6;

    cursor: not-allowed;

    transform: none;

}

.honeypot {
    display: none;
}

/* ========================= */
/* MOBILE RESPONSIVE */
/* ========================= */


@media (max-width: 768px) {

    /* GLOBAL */

    section {
        padding: 80px 20px;
    }


    /* HEADER */

    .header {

        padding: 15px 20px;

    }


    .logo img {

        height: 32px;

    }


    .nav {

        display: none;

    }


    .btn {

        padding: 8px 14px;

        font-size: 13px;

    }



    /* HERO */

    .hero {

        height: 100vh;

        padding: 20px;

    }


    .hero-logo {

        width: 280px;

        max-width: 90%;

    }


    .hero-content p {

        font-size: 16px;

        line-height: 1.5;

    }


    .hero-btn {

        display: inline-block;

        padding: 12px 20px;

    }



    /* SERVICES */

    .services {

        padding: 80px 20px;

    }


    .services h2,
    .why h2,
    .contact h2 {

        font-size: 32px;

    }


    .services-grid {

        grid-template-columns: 1fr;

        gap: 20px;

    }


    .service-card {

        padding: 25px;

    }



    /* WHY */

    .why {

        padding: 80px 20px;

    }


    .why-grid {

        grid-template-columns: 1fr;

    }


    .why-item {

        padding: 25px;

    }



    /* CONTACT */

    .contact {

        padding: 80px 20px;

    }


    .contact-container {

        flex-direction: column;

        gap: 30px;

    }


    .contact-form {

        padding: 20px;

    }


    .contact-info {

        text-align: center;

    }


    .contact-form button {

        width: auto;

        align-self: center;

        padding: 12px 35px;

    }
}

/* HAMBURGER */

.hamburger {

    display:none;

    width:35px;
    height:25px;

    flex-direction:column;
    justify-content:space-between;

    cursor:pointer;

}


.hamburger span {

    height:3px;

    width:100%;

    background:#916923;

    border-radius:5px;

    transition:0.3s;

}



/* MOBILE MENU */


.mobile-menu {

    position:fixed;

    top:0;
    right:-100%;

    width:280px;
    height:100vh;

    background:rgba(17,17,17,0.95);

    backdrop-filter:blur(10px);

    z-index:999;

    padding:100px 30px;

    display:flex;

    flex-direction:column;

    gap:25px;

    transition:0.4s ease;

}



.mobile-menu a {

    color:white;

    text-decoration:none;

    font-size:18px;

}



.mobile-menu.active {

    right:0;

}



@media(max-width:768px){


    .nav {

        display:none;

    }


    .header .btn {

        display:none;

    }


    .hamburger {

        display:flex;

    }

}

.hamburger.active span:nth-child(1){
    transform: rotate(45deg) translate(8px, 8px);
}

.hamburger.active span:nth-child(2){
    opacity:0;
}

.hamburger.active span:nth-child(3){
    transform: rotate(-45deg) translate(8px, -8px);
}

* {
    -webkit-tap-highlight-color: transparent;
}

.btn:active,
.btn:focus {
    background: #916923;
    color: #111;
    outline: none;
}

.hamburger:focus,
.hamburger:active {
    outline: none;
}